<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImageAddLogo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84413D7D1D0D2BD0003AA001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84413D961D0D2BD0003AA001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84413DA11D0D2BD0003AA001</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
